<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Завантаження файлів</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Завантаження файлів</h1>

<!-- Статуси -->
<div th:if="${param.success}">
    <p style="color: green;">Файл успішно завантажено!</p>
</div>
<div th:if="${param.error}">
    <p style="color: red;" th:text="'Помилка: ' + ${param.error}"></p>
</div>

<!-- Форма завантаження файлів -->
<form action="/upload" method="post" enctype="multipart/form-data" class="upload-form">
    <input type="file" name="file" />
    <button type="submit">Завантажити</button>
</form>

<!-- Список файлів -->
<div class="file-list">
    <h2>Список файлів</h2>
    <ul>
        <th:block th:each="file : ${files}">
            <li>
                <span th:text="${file.fileName}"></span> <!-- Використовуємо file.fileName -->

                <!-- Форма для видалення файлів -->
                <form action="/delete" method="post" style="display:inline;">
                    <input type="hidden" name="filename" th:value="${file.fileName}" />
                    <button type="submit">Видалити</button>
                </form>
            </li>
        </th:block>
    </ul>
</div>

<!-- Кнопка для повернення на головну сторінку -->
<div>
    <a href="/" class="back-button">На головну</a>
</div>

</body>
</html>
