<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вхід</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Вхід до Cloud API</h1>
<form th:action="@{/users/login}" method="post">
    <label for="username">Логін:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Увійти</button>
</form>


<p>Ще не маєте акаунту? <a th:href="@{/users/register}" class="btn-register">Зареєструватися</a></p>
</body>
</html>
